@page
@model RepairShop_Razor.Pages.RepairOrders.CreateInvoice
@{
    double TotalCost = 0;
    double TaxesTotalCost = 0;
    int CostEachHour = 15;
}
<html>
<head>
    <meta charset="utf-8">
    <title>A simple, clean, and responsive HTML invoice template</title>

    <style>
    .invoice-box {
        max-width: 800px;
        margin: auto;
        padding: 30px;
        border: 1px solid #eee;
        box-shadow: 0 0 10px rgba(0, 0, 0, .15);
        font-size: 16px;
        line-height: 24px;
        font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
        color: #555;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 5px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 20px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: #333;
    }

    .invoice-box table tr.information table td {
        padding-bottom: 40px;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 20px;
    }

        .invoice-box table tr.item td {
            border-bottom: 1px solid #eee;
        }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }
    </style>
</head>


<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td colspan="2">
                    <table>
                        <tr>
                            <td class="title">
                                <img src="https://images.assetsdelivery.com/compings_v2/bestvectorstock/bestvectorstock1808/bestvectorstock180810483.jpg" style="width:25%; max-width:300px;">
                            </td>

                            <td>
                                Invoice #: @Model.RepairOrder.RepairOrderID<br>
                                Created: @DateTime.Now.ToString("yyyy-MM-dd")<br>
                                Due: @DateTime.Now.AddMonths(1).ToString("yyyy-MM-dd")
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="information">
                <td colspan="2">
                    <table>
                        <tr>
                            <td>
                                Computer RepairShop, Inc.<br>
                                Daam Fockemalaan 22<br>
                                Amersfoort, 3818 KG<br>
                                Computer@@Repairshop.com<br>
                                +31 0612345678
                            </td>

                            <td>
                                <strong>Bill to:</strong><br>
                                Client ID: @Model.RepairOrder.Customer.ID<br>
                                @Model.RepairOrder.Customer.Name<br>
                                @Model.RepairOrder.Customer.Emailadress<br>
                                0 @Model.RepairOrder.Customer.PhoneNumber
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>

            <tr class="heading">
                <td>
                    Description
                </td>

                <td>
                    Price
                </td>
            </tr>

            <tr class="item">
                <td>
                    Repair Labor
                </td>

                <td>
                    <span style="color:lightgray"> @Model.RepairOrder.HoursWorked hours  X € @CostEachHour : </span>
                    € @(Model.RepairOrder.HoursWorked * CostEachHour)

                    <span style="display:none;"> @(TotalCost = TotalCost + (Model.RepairOrder.HoursWorked * CostEachHour)) </span>
                </td>
            </tr>

            <tr class="item">
                <td>
                    Parts
                </td>

                <td>
                    <span style="color:lightgray"> @Model.RepairOrder.Part.PartName, @Model.RepairOrder.Part.PartType : </span>
                    € @(Model.RepairOrder.Part.PartPrice)

                    <span style="display:none;"> @(TotalCost = TotalCost + (Model.RepairOrder.Part.PartPrice)) </span>
                </td>
            </tr>

            <tr class="item last">
                <td>
                    Work Report: <br>
                    @Model.RepairOrder.WorkReport
                </td>
            </tr>

            <tr class="total">
                <td></td>

                <td>
                    Subtotal: € &nbsp; @TotalCost &nbsp;&nbsp; <br />
                    Taxes (21%): € &nbsp; @Math.Round((TaxesTotalCost = TotalCost * 0.21), 2)
                </td>
            </tr>

            <tr class="total">
                <td></td>

                <td>
                    Total: € @Math.Round((TotalCost + TaxesTotalCost), 2)
                </td>
            </tr>
        </table>
    </div>
</body>
</html>