@page
@model RepairShop_Razor.Pages.RepairOrders.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
    <br />
    <table class="table">
        <thead>
            <tr>
                <td>
                    On_hold: @Html.ViewData.Model.RepairOrder.Count(model => model.Status == Models.Status.On_hold)
                </td>
                <td>
                    Under_repair: @Html.ViewData.Model.RepairOrder.Count(model => model.Status == Models.Status.Under_repair)
                </td>
                <td>
                    Waiting_for_parts: @Html.ViewData.Model.RepairOrder.Count(model => model.Status == Models.Status.Waiting_for_parts)
                </td>
                <td>
                    Done: @Html.ViewData.Model.RepairOrder.Count(model => model.Status == Models.Status.Done)
                </td>
            </tr>
        </thead>
    </table>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RepairOrder[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairOrder[0].Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairOrder[0].Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairOrder[0].BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairOrder[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.RepairOrder) {

    string tr_color = "white";

    if (item.Status.ToString() == "Done") { tr_color = "lightgreen"; }
    else if (item.BeginDate <= DateTime.Today) { tr_color = "lightcoral"; }

        <tr style='background-color:@tr_color;'>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BeginDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RepairOrderID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RepairOrderID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RepairOrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
